body{
background:linear-gradient(to right,lightblue,lightpink);
font-family:Verdana;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.main-box{
background:white;
padding:50px;
border-radius:20px;
box-shadow:5px 5px 20px gray;
width:900px;
}

.nav-link{
font-size:20px;
font-weight:bold;
border-radius:10px !important;
margin:5px;
transition:0.3s;
}

.nav-link:hover{
transform:scale(1.05);
}

.content-box{
background:lightyellow;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:3px 3px 10px gray;
}

.content-box p{
font-size:20px;
color:darkgreen;
margin:20px 0;
}

.btn{
font-size:18px;
border-radius:10px;
padding:10px 20px;
}