body{
background:linear-gradient(to right,lightgreen,lightblue);
font-family:Verdana;
min-height:100vh;
}

.hero-section{
background:white;
padding:60px;
border-radius:20px;
box-shadow:5px 5px 20px gray;
}

.navbar{
box-shadow:3px 3px 10px gray;
}

.nav-link{
font-size:18px;
margin-left:15px;
transition:0.3s;
}

.nav-link:hover{
color:yellow !important;
}