body{
background:linear-gradient(to right,lightyellow,lightblue);
font-family:Verdana;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.main-box{
background:white;
padding:50px;
border-radius:20px;
box-shadow:5px 5px 20px gray;
width:850px;
}

.content-box{
background:lightpink;
padding:40px;
border-radius:20px;
box-shadow:3px 3px 10px gray;
margin-top:30px;
}

.content-box p{
font-size:20px;
color:darkblue;
margin-top:20px;
}

.breadcrumb{
font-size:18px;
font-weight:bold;
}

.pagination .page-link{
font-size:18px;
padding:12px 20px;
border-radius:10px;
margin:5px;
transition:0.3s;
}

.pagination .page-link:hover{
background:blue;
color:white;
}

.btn{
border-radius:10px;
font-size:18px;
}