body{
background:linear-gradient(to right,lightblue,lightpink);
font-family:Verdana;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.main-box{
background:white;
padding:60px;
border-radius:20px;
box-shadow:5px 5px 20px gray;
max-width:700px;
margin:auto;
}

.alert{
font-size:18px;
font-weight:bold;
border-radius:10px;
}

.modal-content{
border-radius:20px;
padding:10px;
}

.btn{
border-radius:10px;
font-size:18px;
}