body{
background:linear-gradient(to right,lightblue,lightgreen);
font-family:Verdana;
}

.login-card{
border:none;
border-radius:20px;
box-shadow:5px 5px 20px gray;
overflow:hidden;
}

.card-body{
background:white;
}

.input-group-text{
background:blue;
color:white;
border:none;
}

.form-control{
padding:12px;
font-size:18px;
}

.btn{
border-radius:10px;
font-size:20px;
padding:12px;
transition:0.3s;
}

.btn:hover{
transform:scale(1.03);
}

h1{
font-weight:bold;
}