body{
background:#f5f5f5;
font-family:Verdana;
}

.product-card{
border:none;
border-radius:20px;
overflow:hidden;
box-shadow:5px 5px 20px gray;
transition:0.3s;
position:relative;
}

.product-card:hover{
transform:translateY(-10px);
}

.product-image{
height:300px;
object-fit:cover;
}

.product-badge{
position:absolute;
top:15px;
left:15px;
font-size:15px;
padding:10px;
z-index:1;
}

.card-title{
font-weight:bold;
margin-top:10px;
}

.btn{
border-radius:10px;
font-size:18px;
padding:10px;
}

h1{
font-weight:bold;
}