body{
background:linear-gradient(to right,lightgreen,lightyellow);
font-family:Verdana;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.main-box{
background:white;
padding:50px;
border-radius:20px;
box-shadow:5px 5px 20px gray;
width:850px;
}

.list-group-item{
font-size:22px;
font-weight:bold;
padding:20px;
transition:0.3s;
cursor:pointer;
}

.list-group-item:hover{
transform:scale(1.02);
}

.content-box{
background:lightblue;
padding:25px;
font-size:20px;
color:darkblue;
border-radius:15px;
margin-bottom:15px;
box-shadow:3px 3px 10px gray;
}

.btn{
border-radius:10px;
font-size:20px;
padding:12px;
}

h1{
font-weight:bold;
}