body{
background:linear-gradient(to right,lightblue,lightyellow);
font-family:Verdana;
min-height:100vh;
}

.main-box{
background:white;
padding:60px;
border-radius:20px;
box-shadow:5px 5px 20px gray;
max-width:700px;
margin:auto;
text-align:center;
}

.toast{
border-radius:15px;
box-shadow:3px 3px 15px gray;
}

.toast-header{
font-size:18px;
font-weight:bold;
}

.toast-body{
font-size:17px;
color:darkblue;
}

.btn{
border-radius:10px;
font-size:18px;
}